:root.theme-dark {
  --accent-color: #FF0070;
  --border-color: #FF0070;
  --border-color-hover: rgba(255, 0, 112, 0.5);
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --card-title-color: #000028;
  --card-bg-color: #FF0070;
  --link-shadow: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .decorated-element {
  display: block;
}