:root.theme-light {
  --accent-color: #FF8DCB;
  --border-color: #353430;
  --border-color-hover: rgba(53, 52, 48, 0.5);
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --card-title-color: #353430;
  --card-bg-color: #FF8DCB;
  --link-shadow: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --border-color: #353430; 
    --border-color-hover: rgba(53, 52, 48, 0.5);
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #FFC2E6;
    --card-title-color: #353430;
    --card-bg-color: #FF8DCB;
    --link-shadow: #FF8DCB;
    --bg-image: url(../images/cover-image-light.png);
  }

  :root.theme-auto .section__title_intro,
  :root.theme-auto .section__title_focus,
  :root.theme-auto .section__title_causes {
    color: var(--card-title-color);
  }
  
  .decorated-element {
    display: none;
  }
}