.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: 1.3;
  min-inline-size: 375px;
}

.decorated-zone {
  position: relative;
  padding: var(--section-padding);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: var(--section-padding);
  right: var(--section-padding);
  border-top: 1px solid var(--border-color, var(--accent-color));
  border-right: 1px solid var(--border-color, var(--accent-color));
}

.decorated-zone::after {
  bottom: var(--section-padding);
  left: var(--section-padding);
  border-bottom: 1px solid var(--border-color, var(--accent-color));
  border-left: 1px solid var(--border-color, var(--accent-color));
}

.decorated-element {
  position: absolute;
  top: var(--section-padding);
  right: calc(var(--section-padding) + 28px);
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
}

.decorated-element::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 100vb;
  min-block-size: 668px;  
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-top: var(--section-padding);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--border-color, var(--accent-color));
  padding: 2px 12px;
  border: 1px solid transparent;
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border-color: var(--border-color, var(--accent-color));
  border-color: var(--border-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--border-color, var(--accent-color));
}

.header__theme-menu-button_active {
  border-color: var(--border-color, var(--accent-color));
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.825;
  font-weight: 700;
}


.header__text {
  background-color: var(--card-bg-color);
  color: var(--card-title-color);
  font-weight: 700;
  font-size: 18px;
  justify-self: end;
  max-inline-size: 364px;
}

.section {
  padding: var(--section-padding);
  display: grid;
  gap: 20px;
  margin-block: 40px;
}

.section__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: var(--font-size-h2);
  margin: 0;
  text-align: start;
}

.section__title_intro {
  white-space: nowrap; 
  word-break: keep-all;
}

.section__br-tablet,
.section__br-after-tak {
  display: none;
}

.section_theme_intro .card {
  gap: 8px;
}

.theme-light .section__title {
  color: var(--card-title-color); 
}

.section__content {
  display: grid;
  gap: 20px;
}

.section_flex {
  display: block;
  padding-inline: var(--section-padding);
}

.section__title_accent {
  color: var(--accent-color);
  background-color: transparent;
  margin-bottom: 20px;
  text-align: left;
}

.section__content_flex {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.section__br-tablet-1,
.section__br-tablet-2 {
  display: none;
}

.card_flex {
  display: block;
  width: 100%;
}

.card {
  display: grid;
  gap: 5px;
}

.card__title {
  background-color: var(--card-bg-color);
  color: var(--card-title-color);
  font-size: 18px;
  font-weight: 700;
}

.card__title.title-decor {
  font-weight: 400;
}

.card__title_thin {
  font-weight: 400;
}

.title-decor {
  background-color: var(--card-bg-color);
  color: var(--card-title-color);
}

.link {
  text-shadow: 2px 2px 0 var(--link-shadow);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.gallery {
  padding: var(--section-padding);
  margin-block: 40px;
}

.gallery__title {
  color: var(--card-title-color);
  font-size: 18px;
  font-weight: 700;
  margin-block-end: 10px;
}

.gallery__grid {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  block-size: 100vb;
  min-block-size: 668px;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.825;
  font-weight: 700;
}

@media (width < 768px) {
  .header__theme-menu {
    margin-top: calc(var(--section-padding) + 56px); 
  }

  .section {
    margin-block: 30px;
  }

  .section__title_intro {
    white-space: normal;
  }

  .section__br-after-tak {
    display: block;
  }

  .section__br-tablet {
    display: none;
  }

  .section_theme_intro .section__content {
    gap: 20px;
  }

  .section_theme_intro .card {
    width: 100%;
  }

  .section_theme_intro .card__title {
    margin-bottom: 4px;
  }

  .section_theme_causes .card_flex h3 + p {
    margin-top: 7px; 
  }

  .section .card h4 + p {
    margin-top: 7px; 
  }

  .section__title_accent {
    grid-column: 1;
    width: fit-content;
    max-inline-size: 340px; 
  }

  .gallery {
    margin-block-end: 28px; 
  }

  .section + .gallery,
  main > .section:nth-of-type(3) + .gallery {
    margin-top: 32px; 
  }

  .section:nth-of-type(3) {
    margin-bottom: 0;
  }
}

@media (width >= 768px) {
  :root {
    --section-padding: 20px;
  }
  
  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header {
    padding-inline: 0px; 
  }

  .header__text {
    max-inline-size: 364px;
    margin-right: 20px;
  }

  .header__theme-menu {
    margin-top: calc(var(--section-padding) + 153px); 
    margin-right: 20px;
  }
  
  .section {
    grid-template-columns: 250px 1fr;
    gap: 5px;
  }

  .section_theme_intro .section__content {
    gap: 25px;
  }
  
  .section__title {
    grid-column: 1;
  }

  .section__title_accent {
    grid-column: 1;
    width: fit-content;
    max-inline-size: 200px; 
  }

  .section__title_intro {
    white-space: normal; 
  }

  .section__br-tablet,
  .section__br-after-tak {
    display: block;
  }
  
  .section__content {
    grid-column: 2;
  }

  .section__content_flex {
    grid-template-columns: 1fr;
  }

  .section_theme_causes .section__content_flex {
    gap: 13px; 
  }
  
  .section_theme_causes .card_flex h3,
  .section_theme_causes .card_flex p {
    margin: 0 !important;
  }

  .card_flex {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  section:nth-of-type(3) .card h4 + p {
    margin-top: 7px; 
  }

  .gallery__title {
    margin-block-end: 20px; 
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__image:first-child {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image:last-child {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: 0;
    margin-right: 0; 
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .header__text {
    max-inline-size: 491px;
  }

  .header {
    padding-inline: 0px; 
  }

  .section__title_intro {
    white-space: normal;
  }

  .section__br-tablet {
    display: none;
  }

  .section__br-after-tak {
    display: block;
  }

  .section_theme_intro .section__title {
    grid-column: 1 / span 1; 
    width: 320px;             
    max-width: none;
  }

  .section_theme_intro .section__content {
    margin-left: 80px;     
  }
  
  .section__title_causes {
    white-space: nowrap;
  }

  .section_theme_causes .section__content_flex {
    gap: 22px; 
  }

  .section_theme_causes .card_flex {
    gap: 10px; 
  }

  .section_theme_causes .card_flex p {
    margin: 0;
  }

  .section__content_vertical {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .section:first-child .section__content {
    grid-template-columns: 1fr;
  }

  .section__content_flex {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .card_flex {
    flex: 1;
    min-width: 0; 
    display: flex; 
    flex-direction: column;
  }

  .card_flex .card__title {
    flex-shrink: 0;
  }

  .card_flex p {
    flex-grow: 1;
    margin: 0; 
  }

  .section:nth-of-type(3) {
    grid-template-columns: 320px 1fr; 
  }

  .section:nth-of-type(3) .section__content {
    justify-self: start;       
    margin-left: 10px;               
  }

  .section:nth-of-type(3) .card__title {
    margin-bottom: 3px; 
  }

  section:nth-of-type(3) .card h4 + p {
    margin-top: 1px; 
  }

  .section__br-desktop {
    display: block;
  }

  .section__part1,
  .section__part2 {
    display: inline;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__title {
    margin-block-end: 20px; 
  }

  .gallery__image:first-child {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  
  .gallery__image:last-child {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}


