:root {
  /* Цвета */
  --accent-color: #FF0070;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --card-title-color: #000028;
  --card-bg-color: #FF0070;
  --link-shadow: #FF0070;
  
  /* Шрифты */
 
  --font-size: 18px;
  
  /* Отступы */
  --section-padding: 10px;
  
  /* Фоны */
  --bg-image: url(../images/cover-image-dark.png);
}